table {
  margin-left: auto;
  margin-right: auto;
}

body 
{ margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
#header {
  margin: 20px;
  padding: 10px;
  height: 280px;
}

/* to eventually all become links */
.home-nav { 
  text-align: left;
  color: crimson;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-nav a {
  color: crimson;
  text-decoration: none;
}

.home-nav a:hover{
  color: rgb(131, 131, 131);
}


.shop-nav {
  text-align: center;
}

.sign-up a:hover {
  background-color: crimson;
  color: white;
}
.sign-up a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  border: 1px solid crimson ;
}



#left {
  padding-left: 50px;
  float: left;
  width: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}

/* Middle column */
#center {
  float: left;
  width: 30%;
  padding-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}

#section-article {
  border-left: 2px solid black;
  padding-left: 16px;
}

#section-article:hover {
  border-left: 5px solid crimson;

}

.p1 {
  text-align: center;
  color: crimson;
}

.column {
  float: left;
  width: 45%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  padding: 5px;
  }