body {background-color: rgb(212, 228, 220); }
h1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(27, 173, 129);
    text-align: center; }
h3 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: purple;}
p {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: teal;}
.index-p1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(160, 52, 111);}
ul {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: purple;}
table {padding: 5px; vertical-align: top; }
h2 {font-family: 'Comfortaa', cursive;
   text-align: center;}
.index-lyric p {color: rgb(160, 52, 111); font-style: italic; font-family: 'Comfortaa', cursive
 }
 .index-defintion {font-size: small;
    color: rgb(1, 24, 24);}
a:link {text-decoration: none;}
     
.svg-wrapper {
        height: 60px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 320px;}
.shape {
        fill: transparent;
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 10px;
        stroke: #d8ffeb;}
      
.text {
        color: rgb(82, 37, 155);
        font-family: 'Comfortaa';
        font-size: 22px;
        letter-spacing: 8px;
        line-height: 32px;
        position: relative;
        text-align: center;
        top: -48px;
        font-weight: bolder;}
      
      @keyframes draw {
        0% {
          stroke-dasharray: 140 540;
          stroke-dashoffset: -474;
          stroke-width: 10px;}
        100% {
          stroke-dasharray: 760;
          stroke-dashoffset: 0;
          stroke-width: 5px;}
      }
      
 .svg-wrapper:hover .shape {
        -webkit-animation: 0.5s draw linear forwards;
        animation: 0.5s draw linear forwards;      }
